*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background:#D60505;
    height: 70px;

}
nav img{
    padding-left: 20px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    padding-left: 100px;   
}
.nav-links ul li{
    margin-top: -40px;
}
.nav-links ul li a{
    text-decoration: none;
    color: aliceblue;
    margin: 50px;
    font-weight: bold;

}
/*search*/
.search-bar{
 position: relative;
 margin-left: 950px;  
top: -50px;
background-color: rgb(255, 255, 255);
border-radius: 2px;
list-style: none;
border: #D60505;
padding: 10px 20px 10px 90px;

}
.search-bar ::placeholder{
   font-size: 2px;
  
}
.icon-1{
    position: relative;
    margin-left: 1160px;
    margin-top: -79px;
}
/*search*/
   
.buttons2{
    display: flex;
    flex-direction: row;
    margin-left: 1290px;
    margin-top: -43px;
}
.btn{
    text-decoration: none;
    font-size: 19px;
    position: relative;
    margin: 10px;

}
.btn-1{
    color: aliceblue;

    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.btn-2{
    color: azure;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/*inner bar*/
.mini-bar{
    height: 90px;
    width: 100%;
    background:#C3BFBF;
}
#inner-nav{
height: 100px;
width: 900px;
background: #ffffff;
display: inline-flex;
justify-items: center;
gap: 100px;
position: relative;
bottom: 270px;
}
#inner-nav a{
    margin: 20px 20px 20px 20px;
    text-decoration: none;
  
}
#inner-nav #buton-4 h6{
    margin-top: 17px;
}
#inner-nav a h6{

    margin-top: 10px;
   color: black;
   font-size: 11px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*inner nav close*/


.header-img{
background-image: url(../images/blood\ cover\ top.jpg);
background-repeat: no-repeat;
height: 300px;
background-size: cover;

}
h1{
    display: inline-flex;
    position: relative;
    padding-left: 650px; 
    padding-top: 90px;
    font-size: 40px;
    color:#00003E;

}
span{
    color: #D60505;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
h2{
    display: inline-flex;
    position: relative;
    padding-left: 950px; 
    padding-top: 30px;
    font-size: 40px;
    

}
h3{
    display: inline-flex;
    position: relative;
    padding-left: 950px; 
    padding-top: 30px;
    font-size: 40px;
}
#super-1{
    margin-top: -200px;
    margin-left: -500px;
}
#super-1 h1{
    color: #ff0000a2;
    font-size: 50px;
}

/*main*/
.small-bar{
    background: #D60505;
    width: auto;
    height: 20px;
    margin-top: 5px;
}
.signup-form{
text-align: center;
margin-top: 100px;
}
#container-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin-left: 10.5%;
    padding: 20px;
    margin-top: 50px;

}
#infor-user{
    justify-content: space-between;
display: flex;
flex-wrap: wrap;

}
#infor-user .input-box{
width: calc(100% / 2 - 20px);
margin: 20px 0 20px 0;
}
#infor-user .input-box input{
    width: 100%;
    height: 45px;
    border: 3px solid rgb(208, 0, 0);
    border-radius: 4px;
    outline: rgb(65, 48, 48);
}
#gender-details.title{
     font-size: 20px;
     font-weight: bold;
     color: #D60005;
}

#gender-details .category{
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: 10px 0;
}
#gender-details .category .gender{
color: #D60505;
font-size: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.one-1{
    width: 50px;
    height: 50px;
    background: red;
}
::placeholder{
    padding-left: 20px;
}

label{
    font-weight: bold;
    font-size: 20px;
}
#button-1{
    margin-top: 50px;
    text-align: center;
    
}
#button-1 a{
    text-decoration: none;
    color: #D60505;
    background: #ffffff;
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 30px;
    border: 5px solid #D60505;
}
/*footer*/

#footer-bulk{
    background: #D60005;
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: space-around;

}
.footer-items .logo-2{
    margin-top: 80px;
}
#copy-r{
    color: #ffffff;
    position: absolute;
    left: 129px;
    margin-top: -20px;
}
.footer-items{
    margin: 20px;
}
.footer-items h4{
 color: white;
}

.footer-items li{
list-style-type: circle;
color: #ffffff;

}
.footer-items a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500px;
}
.footer-30 input{
    width: 100%;
    height: 45px;
    border: 3px solid rgb(208, 0, 0);
    border-radius: 4px;
    outline: rgb(65, 48, 48);
}
#subscribe{
    width: 100%;
    height: 45px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 4px;
    outline: rgb(255, 251, 251);
    background: #D60505;
    margin-top: 10px;
}
#subscribe a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 8px;
}
#subscribe p{
    color: azure;
    font-weight: 200;

}
#footer-items-5 ul {
    display: inline-flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 30px;
}

#footer-items-5 li{
 list-style: none;
}
#footer-items-5 a img{
width: 30px;
height: 30px;
}.active{
    background-color: #ff000085;
    width: auto;
    height: auto;
    cursor: pointer;
 padding: 5px;
 border-radius: 2px;
 border: 1px solid rgb(255, 255, 255);
}
.nav-links a:hover{
    background-color: #ff000085;
    width: auto;
    height: auto;
 padding: 5px;
 border-radius: px;
 border: 1px solid rgb(255, 255, 255);

}
